extends layout
block content
  
  h1.text-center OAuth2 Approval
  
  .container
    h3.text-center Hi #{user.username}
    h3.text-center #{client.name} is requesting access to your account. do yo approve ?
    
    form(method="/decision", action="post").text-center
      input(name='transaction_id', type='hidden', value='#{transactionID}')
      .row
        .col-md-5
        .col-md-1
          button(type="submit", id='allow').btn.btn-success Allow
        .col-md-1
          button(type="submit",name='cancel', id='deny').btn.btn-danger Deny    
      
    
    
  
    
