doctype html
html
  link(rel='stylesheet', href='../bootstrap/dist/css/bootstrap.min.css')
  body
    script(type="application/javascript", src="../jquery/dist/jquery.min.js")
    script(type="application/javascript", src="../bootstrap/dist/js/bootstrap.min.js")
    block content
