<h1 class="text-center">Data User</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Id User</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody ng-repeat="u in user.dataUser">
    <tr>
      <td>{{u._id}}</td>
      <td>{{u.username}}</td>
      <td>{{u.password}}</td>
    </tr>
  </tbody>
</table>

<div ng-hide="paging.totalPages == 0" class="btn-group" role="group">
  <button type="button" class="btn btn-default" ng-click="user.previousPage()">
    <span class="glyphicon glyphicon-chevron-left"></span>  Previous
  </button>
  <button type="button" class="btn btn-default" disabled>
    {{user.paging.page}} dari {{user.paging.totalPages}}
  </button>
  <button type="button" class="btn btn-default" ng-click="user.nextPage()">
    Next <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>
